.list-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-item-container {
    display: flex;
    justify-content: center;
}

.list-item {
    width: 60%;
    background-color: beige;
    border: 2px solid black;
    margin-top: 10px;
    list-style-type: none;
    cursor: pointer;
    transition: background-color .5s;
}

li:hover .overlay {
    display: block;
    float: right !important;
  }

.overlay { 
    margin-top: 4px;
    display: none;  
    position: absolute ;
    transition: background 0.5s ease;
}
